nav {
    background-color: black;
    height: 35px;
    justify-items: center;
}
 
.nav-link{
    text-decoration: none;
    background-color: black;
    font-size: 20px;
    color: white;
    margin: 20px;
}

.container{
    display: flex;
    margin-left: 355px;
    margin-top: 85px;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.input{
    margin: 15px;
    padding: 6px;
}

.btn{
    margin-top: 20px;
    width: 23%;
    color: white;
    background-color: black;
    padding: 8px;
}

.table{
    margin: 100px;
    border-radius: 5px;
}

.table th{
    padding: 10px;
}

.table td{
    padding: 15px;
}

.btn-list{
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 5px;
}
